$accent: #ff6838;
$default: #31352b;
$title: #363853;

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: "Rubik-Italic", sans-serif;
  font-weight: 400;
}
