@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular") url("../fonts/Rubik-Regular.woff2") format("woff2");
  src: local("Rubik-Regular") url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Medium";
  src: local("Rubik-Medium") url("../fonts/Rubik-Medium.woff2") format("woff2");
  src: local("Rubik-Medium") url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Italic";
  src: local("Rubik-Italic") url("../fonts/Rubik-Italic.woff2") format("woff2");
  src: local("Rubik-Italic") url("../fonts/Rubik-Italic.woff") format("woff");
  font-display: swap;
}
