@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 60px 0;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    margin: 0 63px 0;
  }
  &__user-nav {
    display: flex;
  }
}

.menu {
  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__link {
    font-size: 18px;
    color: $dark;
    border-radius: 5px;
    &--active {
      color: $orange-900;
    }
    &:focus {
      box-shadow: 0 0 0 2px $stroke;
    }
    &:active {
      color: $dark;
      box-shadow: none;
    }
  }
}

.user-nav {
  &__item:first-child {
    margin-right: 13px;
  }
  &__link {
    display: block;
    width: 44px;
    height: 44px;
    position: relative;
    padding: 11px;
    border-radius: 5px;
    &:focus {
      background-color: $light-orange;
      box-shadow: 0 0 0 2px $stroke;
      transition: box-shadow 0.3s;
    }
    &:hover {
      background-color: $orange-900;
      transition: background-color 0.3s;
      ellipse,
      path {
        stroke: #fff;
      }
    }
    &:active {
      background-color: $light-orange;
      box-shadow: none;
    }
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    top: 5px;
    left: 27px;
    font-size: 10px;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    &:hover {
      background-color: #fff;
      color: $orange-900;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    width: 450px;
    color: $darkBlue-900;
  }
  &__title {
    font-size: 66px;
    margin-bottom: 20px;
    @extend %rubik-500;
    line-height: 1.3;
    text-transform: uppercase;
    & span {
      color: $orange-900;
    }
  }
  &__text {
    margin-bottom: 20px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    margin-right: 34px;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    &:hover {
      box-shadow: 0p 5px 12px rgba(255, 104, 56, 0.2);
    }
  }
  &__link {
    border-radius: 5px;
    &:focus {
      box-shadow: 0 0 0 2px $stroke;
    }
    &:active {
      color: $darkBlue-900;
      box-shadow: none;
    }
  }
}

.popular {
  color: $darkBlue-900;
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 210px 210px 210px 210px 210px;
    grid-template-rows: 299px 299px;
    margin-bottom: 60px;
    gap: 30px;
  }
  &__card {
    display: grid;
    width: 210px;
    height: 299px;
    text-align: center;
  }
  &__more {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-decoration: underline solid $darkBlue-900;
    &:focus {
      border-radius: 5px;
      box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      color: $darkBlue-900;
      box-shadow: none;
    }
  }
}

.card {
  padding: 20px 15px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px $silver-200;
  &__img {
    margin: 0 auto 10px;
  }
  &__name-prod {
    height: 36px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: $dark;
  }
  &__price-prod {
    margin-bottom: 10px;
    @extend %rubik-500;
    font-weight: 600;
    line-height: 1.4;
  }
  &__btn {
    padding: 7px 16px;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    background-color: $orange-900;
  }
}

.pop-menu {
  &__item {
    background-color: #fff;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    display: flex;
    height: 70px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    &--active {
      color: #fff;
      background-color: $orange-900;
      path {
        fill: #fff;
      }
    }
    & svg {
      margin-right: 10px;
    }
    &:focus {
      box-shadow: 0 0 0 2px $stroke;
      transition: box-shadow 0.3s;
    }
    &:hover {
      path {
        fill: $orange-900;
      }
      color: $orange-900;
      box-shadow: 0 0 0 2px $stroke;
      background-color: $light-orange;
    }
    &:active {
      path {
        fill: $darkBlue-900;
      }
      color: $darkBlue-900;
      background-color: #fff;
      box-shadow: inset 0 -5 12 rgba(255, 104, 56, 0.2);
    }
  }
}

.footer {
  &__top {
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
  }
  &__item {
    margin-right: 70px;
  }
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__input {
    background-color: #fff;
  }
  &__input,
  &__btn {
    width: 200px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    margin-bottom: 12px;
    padding: 0 15px;
    border: 1px solid $silver-200;
    transition: color 0.3s;
    &::placeholder {
      color: $silver-200;
      opacity: 0.9;
    }
    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      transition: box-shadow 0.3s;
    }
    &:hover::placeholder {
      color: $darkBlue-900;
      transition: color 0.3s;
    }
  }
  &__btn {
    & svg {
      margin-right: 15.6px;
    }
    &:focus {
      path {
        fill: $orange-900;
        transition: fill 0.3s;
      }
    }
    &:hover {
      path {
        fill: $orange-900;
        transition: fill 0.3s;
      }
    }
    &:active {
      path {
        fill: $orange-900;
        transition: fill 0.3s;
      }
    }
  }
  &__line {
    border: 1px solid $silver-200;
    opacity: 0.2;
  }
  &__copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
  }
}

.product__item,
.info__item,
.user__item {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.product__item:last-child {
  margin-bottom: 0;
}

.info__item:last-child {
  margin-bottom: 0;
}

.user__item:last-child {
  margin-bottom: 0;
}

.contacts {
  &__item {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 2;
    @extend %rubik-italic;
  }
  &__link {
    content: "";
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
  }
  &__link::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__link--location::before {
    background-image: url("../images/icons/location.svg");
  }
  &__link--calling::before {
    background-image: url("../images/icons/calling.svg");
  }
  &__link--message::before {
    background-image: url("../images/icons/message.svg");
  }
}

.social {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 13px;
  }
  &__link {
    display: block;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    circle {
      fill: $silver-200;
      transition: fill 0.3s;
    }
    path {
      fill: $dark;
      transition: fill 0.3s;
    }
    &:focus {
      box-shadow: 0 0 0 2px $stroke;
      transition: box-shadow 0.3s;
      circle {
        fill: $light-orange;
        /*stroke: $stroke;
        stroke-width: 2px;*/
      }
      path {
        fill: $dark;
      }
    }
    &:hover {
      circle {
        fill: $orange-900;
      }
      path {
        fill: #fff;
      }
    }
    &:active {
      box-shadow: none;
      circle {
        fill: $light-orange;
        stroke-width: 0;
      }
      path {
        fill: #ff7a50;
      }
    }
  }
}

@import "media";
